* {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
  }

  #map {
    height: 100vh;
    width: 100vw;
  }

  #marker_selection {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: rgba(165, 42, 42, 0.5);
  }

  #itinerary {
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: rgba(0, 128, 0, 0.5);
  }

  nav {
    background-color: red;
  }

  #itinerary_header {
    background-color: rgba(255, 165, 0, 0.5);
  }